
{% extends "layout.html" %}

{% block body %}
    <section id="abstract">I was born in France, I like baguette, cheese, and crafting web applications.</section> 
    


    <section id="posts">
        <h1>posts</h1>
        {{ posts|safe }}
    </section>
    
    <section id="projects">
        <h1>projects</h1>
        <ul>
            <li>
                <div class="project-title"><a href="http://lipstr.com">lipstr</a></div>
                <div class="project-description">trello-like task management/todo web app (python)</div>
            </li>
            <li>
                <div class="project-title"><a href="http://rachelsmuseum.com">rachel's museum</a></div>
                <div class="project-description">Rachel's interactive cv (javascript)</div>
            </li>
            <li>
                <div class="project-title"><a href="https://github.com/rcarton/jtumblppr">tumblppr</a></div>
                <div class="project-description">A little google app engine app to read a tumblr feed and generate wallpapers.</div>
            </li>
        </ul>
    </section>
    
    <section id="books">
        <h1>books I want to read</h1>
        <ul>
            {% for b in books %}
                {# <li>{{ b.title }}</li> #}
                <li><a href="{{ b.url }}"><img title="{{ b.title }}" alt="{{ b.title }} cover" src="{{ b.img_url }}"></a></li>
            {% endfor %}
        </ul>
        
    </section>
{% endblock %}