
{% extends "layout.html" %}

{% block body %}
    <section id="abstract">I was born in France, I like baguette, cheese, and making web applications.</section> 
    


    <section id="posts">
        <h1>posts</h1>
        {{ posts|safe }}
    </section>
    
    <section id="projects">
        <h1>projects</h1>
        <ul>
            <li>
                <div class="project-title"><a href="http://lipstr.com">lipstr</a></div>
                <div class="project-description">trello-like task management/todo web app (python)</div>
            </li>
            <li>
                <div class="project-title"><a href="http://rachelsmuseum.com">rachel's museum</a></div>
                <div class="project-description">Rachel's interactive cv (javascript)</div>
            </li>
            <li>
                <div class="project-title"><a href="https://github.com/rcarton/jtumblppr">tumblppr</a></div>
                <div class="project-description">A little google app engine app to read a tumblr feed and generate wallpapers.</div>
            </li>
        </ul>
    </section>
    
    <section id="books">
        <h1>books Im reading</h1>
        <ul>
            {% for b in books %}
                {# <li>{{ b.title }}</li> #}
                <li><a href="{{ b.url }}"><img title="{{ b.title }}" alt="{{ b.title }} cover" src="{{ b.img_url }}"></a></li>
            {% endfor %}
        </ul>
        <p>These books are scraped from my <a href="http://www.amazon.com/gp/registry/wishlist/3HTH6XSK2NIZ5">amazon wishlist</a>, it's not always up to date :)</p>
    </section>
    
    
    <section id="about-me">
        <h1>About me</h1>
        <p>My name is Remi Carton (easier to say than troebr). I currently live in New Jersey with my girlfriend and a turtle. You can
        browse my <a href="https://github.com/rcarton">github account</a>, or my <a href="http://www.linkedin.com/in/remicarton">linkedin account</a>. 
         Oh, and my resume is <a href="http://troebr.net/resume">here</a>.</p>
    </section>
    
{% endblock %}