
{% extends "layout.html" %}

{% block extra_css %}
    <link rel="stylesheet/less" href="static/less/resume.less">
    <link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
{% endblock %}

{% block extra_js %}
    
    <script>
        var clicked = '';
        $(document).ready(function(){
            $('.experience-tags li').click(function(){
            	clicked = $(this).text().toLowerCase();
            	$('.experience-tags li').each(function(){
            		if($(this).text().toLowerCase().localeCompare(clicked) == 0) {
            			// style selected
            			$(this).addClass('selected');
            		} else {
            			// remove selected
            			$(this).removeClass('selected');
            		}
            	});
            });
        	
        });
    
    </script>
    
    
{% endblock %}

{% block body %}
    
    <div id="resume-title" class="resume-wrapper">
        <div id="resume-title-top">Remi CARTON</div>
        <div id="resume-title-bottom">Software & Web Engineer</div>
    </div>
    
    <section id="resume" class="resume-wrapper">
        <div id="resume-statement">My name is Remi. I am looking for a <strong>software engineer position</strong>.
        I have 3 years experience developing softwares and web applications. <br/>
        
        </div>
        
        <div id="resume-content">
            
            <section id="address">
                <img src="static/img/photo.png">
                Rémi Carton<br>
                <script>document.write('remi.carton' + String.fromCharCode(64) + 'gmail' + String.fromCharCode(46) + 'com');</script><br>
                (+33)671.418.677<br>
                Montpellier, France<br>
                26 y. old<br>
            </section>
            
            <section id="skills">
                <h1>Skills</h1>
                <ul>
                    <li>
                        <h2>Languages</h2>
                        <ul>
                            <li>python</li>
                            <li>c# / asp.net</li>
                            <li>java</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2>Web</h2>
                        <ul>
                            <li>REST APIs, web services</li>
                            <li>html5, css3, javascript, jquery</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2>System</h2>
                        <ul>
                            <li>Unix/Linux</li>
                            <li>Windows Server</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2>Database</h2>
                        <ul>
                            <li>MySQL</li>
                            <li>SQL Server 2008</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2>Methods</h2>
                        <ul>
                            <li>unit testing, continuous integration</li>
                            <li>xp, test-driven development</li>
                            <li>agile, scrum</li>
                        </ul>
                    </li>
                </ul>
               <div style="clear: both"></div>
            </section>
            
            <section id="experience">
                <h1>Experience</h1>
                <ul>
                    <li>
                        <h2><strong>Project engineer at Sogeti, Capgemini Group</strong>, <span class="date">2011 - 2012</span></h2>
                        Developed a <a href="http://assures.assurances-plaisance.com">website</a> for an insurance company. Desktop and mobile terminals, frontend and backend. 
                        
                        <ul class="experience-tags">
                            <li>asp.net</li>
                            <li>C#</li>
                            <li>SQL Server 2008</li>
                            <li>iis7</li>
                            <li>javascript</li>
                            <li>html5</li>
                            <li>responsive ui</li>
                            <li>mobile</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2><strong>Software engineer at Amadeus</strong>, <span class="date">2008 - 2011</span></h2>
                        Developed a web application for streamlining source code integration and versioning through the 
                        use of a distributed version control system. 
                        
                        <ul class="experience-tags">
                            <li>python</li>
                            <li>django</li>
                            <li>MySQL</li>
                            <li>unix</li>
                            <li>mercurial</li>
                            <li>javascript</li>
                            <li>apache</li>
                        </ul>
                        
                        Developed an application for end-to-end and black box backend testing. This system used a proprietary grammar,
                        interpreting python expressions.
                        
                        <ul class="experience-tags">
                            <li>c++</li>
                            <li>java</li>
                            <li>python</li>
                            <li>tcp dump</li>
                            <li>oracle</li>
                            <li>unix</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2>Software engineer intern at Sopra Group, <span class="date">2008</span></h2>
                        Developed a soccer <a href="http://footplus.fr">streaming website</a> for a TV channel in a team of 5.
                        <ul class="experience-tags">
                            <li>sso</li>
                            <li>php5</li>
                            <li>ldap</li>
                            <li>MySQL</li>
                        </ul>
                        
                        j2ee development on a telecom company retailer application.
                        <ul class="experience-tags">
                            <li>java</li>
                            <li>j2ee</li>
                            <li>weblogic</li>
                            <li>ldap</li>
                            <li>web services</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2>Assistant engineer intern at Saint-Gobain, <span class="date">2007</span></h2>
                        Developed image processing algorithms for the quality control of industrial processes.
                        <ul class="experience-tags">
                            <li>matlab</li>
                            <li>c</li>
                        </ul>
                    </li>
                </ul>
                
            </section>
            
            <section id="education">
                <h1>Education</h1>
                <ul>
                    <li>
                        <h2><strong>Engineering degree in Computer Science</strong>, UTC, <span class="date">2003 - 2008</span></h2>
                        Information systems and software engineering. 
                    </li>
                    
                    <li>
                        <h2>French scientific baccalaureate <span class="date">2008</span></h2>
                        Specialized in mathematics, graduated with honours.
                    </li>
                </ul>
                
            </section>
            
            <section id="languages">
                <h1>Languages</h1>
                <ul>
                    <li>
                        <h2>English</h2> Fluent
                    </li>
                    <li>
                        <h2>French</h2> Native speaker
                    </li>
                </ul>
            </section>
            
            <section id="projects">
                <h1>Personal projects</h1>
                <ul>
                    <li><h2><a href="">this</a></h2>
                        <ul class="experience-tags">
                            <li>python</li>
                            <li>flask</li>
                            <li>nginx</li>
                            <li>oauth</li>
                            <li>html5</li>
                            <li>less</li>
                            <li>rest api</li>
                            <li>responsive ui</li>
                            <li>mobile</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2><a href="http://tumblppr.appspot.com/">html 5 tumblr image stitching application</a></h2>
                        <ul class="experience-tags">
                            <li>java</li>
                            <li>google app engine</li>
                            <li>html5</li>
                            <li>canvas</li>
                            <li>css3</li>
                            <li>rest api</li>
                            <li>jquery</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2><a href="http://github.com/rcarton/pourk">command line tumblr image stitching proof of concept</a></h2>
                        <ul class="experience-tags">
                            <li>python</li>
                            <li>pil</li>
                            <li>rest api</li>
                        </ul>
                    </li>
                    
                    <li>
                        <h2><a href="http://home.troebr.net">django message and image board</a></h2>
                        <ul class="experience-tags">
                            <li>python</li>
                            <li>django</li>
                            <li>MySQL</li>
                            <li>rest api</li>
                        </ul>
                    </li>
                    
                </ul>
                <div style="clear: both"></div>
            </section>
            
            <section id="interests">
                <h1>Interests &amp; Activities</h1>
                <div id="interests-content">kiteboarding, photography, squash, hiking &amp; traveling</div>
            </section>
            
            
        </div>
    </section>
    
    

{% endblock %}
