

@darkgrey: #605e5e;
@mediumgrey: #727171;
@bgimgcolor: #3b3b3b;

body {  transition:all .2s linear;  -o-transition:all .2s linear;  -moz-transition:all .2s linear;  -webkit-transition:all .2s linear; }

/* ---- Alter the default design ---- */
#logo { display: none; }
#main-container > nav { display: none; }
#looking-for-a-job { display: none; }
.resume-wrapper {}

#resume {
    margin-top: 1.5em;
}

#resume-title {
    font-family: 'Roboto', sans serif;	
    text-align: right;
    margin-top: -51px;
    
    #resume-title-top {
        font-size: 46px;
        color: #ffffff;
    }
    
    #resume-title-bottom {
        font-size: 20px;
        color: @darkgrey;
    }
}

#resume-statement {
    font-family: 'Annie use your telescope', Arial, sans serif;
    font-size: 19px;
    width: 80%;
    margin: 0 10%;
}

.resume-left { margin-left: 26px;}

#resume-content {
    box-shadow: #aaa 0px 0px 5px;
    width: 100%;
    margin: 2em 0;
    padding-top: 25px;
    padding-bottom:120px;
    
    
    
    ul { margin: 0; padding: 0;}
    li { list-style: none; padding: 0; margin: 0;}
    
    #address {
        @lightgrey: lighten(@darkgrey, 30%);
        
        .resume-left;
         
        font-family: 'Open Sans', sans serif;
        font-size: 13px;
        color: @lightgrey;
        line-height: 13px;
        margin-top: 0;
        
        img { float: left; padding: 2px; border: 1px solid lighten(@lightgrey, 20%); display: inline-block; margin-right: 4px; }
    }
    
    h1 {
        color: @darkgrey;
        font-size: 19px;
        margin: 0 0 4px 4px;
    }
    
    h2 {
        margin: 0;
        padding: 0;
        color: #000;
        font-weight: 400;
    }
    
    section { 
        clear: both; 
        font-size: 12px;
        color: @darkgrey;
        margin-top: 25px;
        padding-top: 12px;
    }
    
    section > ul {
        .resume-left;
        
        li {
            padding: 12px 0;
        }
        
        li:first-child {
            padding: 0;
        }
        
    }
    
    section:nth-child(even) {
        background-color: #f8f8f8;
    }
    

    
    #skills {
        
        h2 {
            font-size: 16px;
            height: 100%;
            float: left;
            width: 30%;
            font-weight: 500;
        }
        
        li { padding: 0; }
        
        > ul {
            .resume-left;
            > li {
                padding: 0; 
                height: 60px;
            }
        }
    }
    
    #languages {
        li { display: inline-block; width: 140px;}
    }
    
    #interests {
        height: 80px;
    }
    #interests-content {
        .resume-left;
    }  
}


@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 768px) {
    
    #resume-title {
	    #resume-title-top {
	        font-size: 60px;
	        color: #ffffff;
	        line-height: 54px;
	    }
	    
	    #resume-title-bottom {
	        font-size: 27px;
	        color: @darkgrey;
	    }
    }
    
    .resume-wrapper{
	    @width: 80%;
	    width: @width;
	    max-width: 760px;
	    margin: 0 (100% - @width) / 2;
    }
    
    #resume-content {
        h1 {
	        float: left;
	        color: @darkgrey;
	        margin: 0 0 0 -130px;
	        text-align: right;
	        width: 120px;
        }
        #skills {
	        h2 {
	            font-size: 16px;
	            height: 100%;
	            float: left;
	            width: 30%;
	            font-weight: 500;
	        }
	        
	        li { padding: 0; }
	        
	        > ul {
	            .resume-left;
	            > li {
	                width: 50%;
	                height: 60px;
	            }
	            > li:nth-child(even) {
	                float: right;
	            }
	            > li:nth-child(odd) { 
	                float: left;
	            }   
	        }
        }
    }
    
}




