@import "normalize.less";
@import "global-mobile.less";

/* ===== Primary Styles ========================================================
   Author: rcarton
   ========================================================================== */

@import "media-queries.less";
@import "helpers.less";
@import "print.less";

@textcolor: #333;
@red: #C46464;

html, body, header {
    color: @textcolor;
    font-size: 13px;
}

body {
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4 { font-family: 'Open Sans Condensed', sans-serif; }
p, li { line-height: 1.42em; }


a {
    text-decoration: none;
    color: @red;
    
    &:hover, &:visited:hover {
        color: lighten(@red, 20%);
    }
    
    &:active, &:visited {
        color: @red;
    }
}

.left {
    max-width: 155px;
    width: 20%;
    text-align: right;
    margin-right: 1em;
}

@media all and (max-width:640px) {
    .left {
        width: 15px;
    }
}

header {
    font-size: 0.35em;
    text-align: right;
    
    h1 {
        height: 6em;
        overflow: hidden;
        padding-right: 3em;
        top: -6.1em;
        text-shadow: rgba(255, 255, 255, 0.23) 0px 0px 41px;
        
        position: relative;
        color: @red;
    
        a {
        
            &:visited, :active { color: inherit; }
            
            font-size: 8em;
            line-height: 1em;
            letter-spacing: -0.1em;
            margin-left: -0.06em;
            text-decoration: none;
            font-family: Helvetica, Arial, sans-serif;
        }
    }
    
    .sub {
        margin-top: -7.3em;
        font-size: 2em;
        padding-right: 3em;
    }
}


#main {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.73);
    margin-top: 7em;
    padding-bottom: 2em;
    box-shadow: rgba(255, 255, 255, 0.28) 0px 3px 0px -1px, rgba(255, 255, 255, 0.38) 0px 7px 0px -3px;
}




#content {
    margin-top: 2em;
    line-height: 1.2em;
    

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    h1, h2 {
        font-weight: normal;
        width: 26%;
        text-align: right;
        margin-right: 1em;
        margin-top: 0;
        font-family: Helvetica;
        letter-spacing: -0.1em;
        background: #C46464;
        line-height: 1.2em;
        color: white;
        font-size: 1em;
        padding-right: .5em;
        box-shadow: rgba(0, 0, 0, 0.15) 1px 4px 0px -3px;
        margin-left: -4px;
        position: relative;
    }
    
    h1:before {
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 4px 3px 0;
        border-color: transparent #AF4848 transparent transparent;
        content: " ";
        float: left;
        bottom: -3px;
        position: absolute
    }
    
    section {
        /*border-left: 1px solid #C46464;*/
        padding-bottom: 3.3em;
    }
}

#content section#abstract {
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin-top: 3em;
    border: 0;
}

#projects {
    
    .project-title {
        color: @red;
        display: block;
        float: left;
        .left;
        font-style: italic;
    }
    
    .project-description {
        display: inline-block;
    }
}

#posts {
    ul {
        list-style-type: none;
        
        .post-date {
            .left;
            display: inline-block;
            font-size: 0.7em;
            vertical-align: middle;
        }
    }
}

#books {

    ul {
        padding: 0 3em;
        
        li {
            display: inline-block;
        }
    }
}



